	/*==============================================================*/
	/* DBMS name:      Microsoft SQL Server 2008                    */
	/* Created on:     19/11/2023 4:25:58 CH                        */
	/*==============================================================*/


	if exists (select 1
	   from sys.sysreferences r join sys.sysobjects o on (o.id = r.constid and o.type = 'F')
	   where r.fkeyid = object_id('"BO MON"') and o.name = 'FK_BO MON_QUAN LY_KHOA')
	alter table "BO MON"
	   drop constraint "FK_BO MON_QUAN LY_KHOA"
	go

	if exists (select 1
	   from sys.sysreferences r join sys.sysobjects o on (o.id = r.constid and o.type = 'F')
	   where r.fkeyid = object_id('Co') and o.name = 'FK_CO_CO_SINH VIE')
	alter table Co
	   drop constraint "FK_CO_CO_SINH VIE"
	go

	if exists (select 1
	   from sys.sysreferences r join sys.sysobjects o on (o.id = r.constid and o.type = 'F')
	   where r.fkeyid = object_id('Co') and o.name = 'FK_CO_CO2_CHUC VU')
	alter table Co
	   drop constraint "FK_CO_CO2_CHUC VU"
	go

	if exists (select 1
	   from sys.sysreferences r join sys.sysobjects o on (o.id = r.constid and o.type = 'F')
	   where r.fkeyid = object_id('Co') and o.name = 'FK_CO_CO3_TO CHUC')
	alter table Co
	   drop constraint "FK_CO_CO3_TO CHUC"
	go

	if exists (select 1
	   from sys.sysreferences r join sys.sysobjects o on (o.id = r.constid and o.type = 'F')
	   where r.fkeyid = object_id('LOP') and o.name = 'FK_LOP_QUAN_BO MON')
	alter table LOP
	   drop constraint "FK_LOP_QUAN_BO MON"
	go

	if exists (select 1
	   from sys.sysreferences r join sys.sysobjects o on (o.id = r.constid and o.type = 'F')
	   where r.fkeyid = object_id('"SINH VIEN"') and o.name = 'FK_SINH VIE_TRONG_LOP')
	alter table "SINH VIEN"
	   drop constraint "FK_SINH VIE_TRONG_LOP"
	go

	if exists (select 1
	   from sys.sysreferences r join sys.sysobjects o on (o.id = r.constid and o.type = 'F')
	   where r.fkeyid = object_id('"Tham gia hoat dong"') and o.name = 'FK_THAM GIA_THAM GIA _SINH VIE')
	alter table "Tham gia hoat dong"
	   drop constraint "FK_THAM GIA_THAM GIA _SINH VIE"
	go

	if exists (select 1
	   from sys.sysreferences r join sys.sysobjects o on (o.id = r.constid and o.type = 'F')
	   where r.fkeyid = object_id('"Tham gia hoat dong"') and o.name = 'FK_THAM GIA_THAM GIA _HOAT DON')
	alter table "Tham gia hoat dong"
	   drop constraint "FK_THAM GIA_THAM GIA _HOAT DON"
	go

	if exists (select 1
	   from sys.sysreferences r join sys.sysobjects o on (o.id = r.constid and o.type = 'F')
	   where r.fkeyid = object_id('"Tham gia hoat dong"') and o.name = 'FK_THAM GIA_THAM GIA _HINH THU')
	alter table "Tham gia hoat dong"
	   drop constraint "FK_THAM GIA_THAM GIA _HINH THU"
	go

	if exists (select 1
	   from sys.sysreferences r join sys.sysobjects o on (o.id = r.constid and o.type = 'F')
	   where r.fkeyid = object_id('"Tham gia hoat dong"') and o.name = 'FK_THAM GIA_THAM GIA _VAI TRO')
	alter table "Tham gia hoat dong"
	   drop constraint "FK_THAM GIA_THAM GIA _VAI TRO"
	go

	if exists (select 1
	   from sys.sysreferences r join sys.sysobjects o on (o.id = r.constid and o.type = 'F')
	   where r.fkeyid = object_id('"Thong bao"') and o.name = 'FK_THONG BA_THONG BAO_TO CHUC')
	alter table "Thong bao"
	   drop constraint "FK_THONG BA_THONG BAO_TO CHUC"
	go

	if exists (select 1
	   from sys.sysreferences r join sys.sysobjects o on (o.id = r.constid and o.type = 'F')
	   where r.fkeyid = object_id('"Thong bao"') and o.name = 'FK_THONG BA_THONG BAO_HOAT DON')
	alter table "Thong bao"
	   drop constraint "FK_THONG BA_THONG BAO_HOAT DON"
	go

	if exists (select 1
	   from sys.sysreferences r join sys.sysobjects o on (o.id = r.constid and o.type = 'F')
	   where r.fkeyid = object_id('"Vao to chuc"') and o.name = 'FK_VAO TO C_THAM GIA _SINH VIE')
	alter table "Vao to chuc"
	   drop constraint "FK_VAO TO C_THAM GIA _SINH VIE"
	go

	if exists (select 1
	   from sys.sysreferences r join sys.sysobjects o on (o.id = r.constid and o.type = 'F')
	   where r.fkeyid = object_id('"Vao to chuc"') and o.name = 'FK_VAO TO C_THAM GIA _TO CHUC')
	alter table "Vao to chuc"
	   drop constraint "FK_VAO TO C_THAM GIA _TO CHUC"
	go

	if exists (select 1
	   from sys.sysreferences r join sys.sysobjects o on (o.id = r.constid and o.type = 'F')
	   where r.fkeyid = object_id('"Vao to chuc"') and o.name = 'FK_VAO TO C_THAM GIA _PHIEU DA')
	alter table "Vao to chuc"
	   drop constraint "FK_VAO TO C_THAM GIA _PHIEU DA"
	go

	if exists (select 1
				from  sysindexes
			   where  id    = object_id('"BO MON"')
				and   name  = 'Quan ly_FK'
				and   indid > 0
				and   indid < 255)
	   drop index "BO MON"."Quan ly_FK"
	go

	if exists (select 1
				from  sysobjects
			   where  id = object_id('"BO MON"')
				and   type = 'U')
	   drop table "BO MON"
	go

	if exists (select 1
				from  sysobjects
			   where  id = object_id('"CHUC VU"')
				and   type = 'U')
	   drop table "CHUC VU"
	go

	if exists (select 1
				from  sysindexes
			   where  id    = object_id('Co')
				and   name  = 'Co3_FK'
				and   indid > 0
				and   indid < 255)
	   drop index Co.Co3_FK
	go

	if exists (select 1
				from  sysindexes
			   where  id    = object_id('Co')
				and   name  = 'Co2_FK'
				and   indid > 0
				and   indid < 255)
	   drop index Co.Co2_FK
	go

	if exists (select 1
				from  sysindexes
			   where  id    = object_id('Co')
				and   name  = 'Co_FK'
				and   indid > 0
				and   indid < 255)
	   drop index Co.Co_FK
	go

	if exists (select 1
				from  sysobjects
			   where  id = object_id('Co')
				and   type = 'U')
	   drop table Co
	go

	if exists (select 1
				from  sysobjects
			   where  id = object_id('"HINH THUC DIEM DANH"')
				and   type = 'U')
	   drop table "HINH THUC DIEM DANH"
	go

	if exists (select 1
				from  sysobjects
			   where  id = object_id('"HOAT DONG"')
				and   type = 'U')
	   drop table "HOAT DONG"
	go

	if exists (select 1
				from  sysobjects
			   where  id = object_id('KHOA')
				and   type = 'U')
	   drop table KHOA
	go

	if exists (select 1
				from  sysindexes
			   where  id    = object_id('LOP')
				and   name  = 'Quan_FK'
				and   indid > 0
				and   indid < 255)
	   drop index LOP.Quan_FK
	go

	if exists (select 1
				from  sysobjects
			   where  id = object_id('LOP')
				and   type = 'U')
	   drop table LOP
	go

	if exists (select 1
				from  sysobjects
			   where  id = object_id('"PHIEU DANG KY"')
				and   type = 'U')
	   drop table "PHIEU DANG KY"
	go

	if exists (select 1
				from  sysindexes
			   where  id    = object_id('"SINH VIEN"')
				and   name  = 'Trong_FK'
				and   indid > 0
				and   indid < 255)
	   drop index "SINH VIEN".Trong_FK
	go

	if exists (select 1
				from  sysobjects
			   where  id = object_id('"SINH VIEN"')
				and   type = 'U')
	   drop table "SINH VIEN"
	go

	if exists (select 1
				from  sysobjects
			   where  id = object_id('"TO CHUC"')
				and   type = 'U')
	   drop table "TO CHUC"
	go

	if exists (select 1
				from  sysindexes
			   where  id    = object_id('"Tham gia hoat dong"')
				and   name  = 'Tham gia h 4_FK'
				and   indid > 0
				and   indid < 255)
	   drop index "Tham gia hoat dong"."Tham gia h 4_FK"
	go

	if exists (select 1
				from  sysindexes
			   where  id    = object_id('"Tham gia hoat dong"')
				and   name  = 'Tham gia h 3_FK'
				and   indid > 0
				and   indid < 255)
	   drop index "Tham gia hoat dong"."Tham gia h 3_FK"
	go

	if exists (select 1
				from  sysindexes
			   where  id    = object_id('"Tham gia hoat dong"')
				and   name  = 'Tham gia h 2_FK'
				and   indid > 0
				and   indid < 255)
	   drop index "Tham gia hoat dong"."Tham gia h 2_FK"
	go

	if exists (select 1
				from  sysindexes
			   where  id    = object_id('"Tham gia hoat dong"')
				and   name  = 'Tham gia h _FK'
				and   indid > 0
				and   indid < 255)
	   drop index "Tham gia hoat dong"."Tham gia h _FK"
	go

	if exists (select 1
				from  sysobjects
			   where  id = object_id('"Tham gia hoat dong"')
				and   type = 'U')
	   drop table "Tham gia hoat dong"
	go

	if exists (select 1
				from  sysindexes
			   where  id    = object_id('"Thong bao"')
				and   name  = 'Thong bao2_FK'
				and   indid > 0
				and   indid < 255)
	   drop index "Thong bao"."Thong bao2_FK"
	go

	if exists (select 1
				from  sysindexes
			   where  id    = object_id('"Thong bao"')
				and   name  = 'Thong bao_FK'
				and   indid > 0
				and   indid < 255)
	   drop index "Thong bao"."Thong bao_FK"
	go

	if exists (select 1
				from  sysobjects
			   where  id = object_id('"Thong bao"')
				and   type = 'U')
	   drop table "Thong bao"
	go

	if exists (select 1
				from  sysobjects
			   where  id = object_id('"VAI TRO"')
				and   type = 'U')
	   drop table "VAI TRO"
	go

	if exists (select 1
				from  sysindexes
			   where  id    = object_id('"Vao to chuc"')
				and   name  = 'Tham gia tc3_FK'
				and   indid > 0
				and   indid < 255)
	   drop index "Vao to chuc"."Tham gia tc3_FK"
	go

	if exists (select 1
				from  sysindexes
			   where  id    = object_id('"Vao to chuc"')
				and   name  = 'Tham gia tc2_FK'
				and   indid > 0
				and   indid < 255)
	   drop index "Vao to chuc"."Tham gia tc2_FK"
	go

	if exists (select 1
				from  sysindexes
			   where  id    = object_id('"Vao to chuc"')
				and   name  = 'Tham gia tc_FK'
				and   indid > 0
				and   indid < 255)
	   drop index "Vao to chuc"."Tham gia tc_FK"
	go

	if exists (select 1
				from  sysobjects
			   where  id = object_id('"Vao to chuc"')
				and   type = 'U')
	   drop table "Vao to chuc"
	go

	/*==============================================================*/
	/* Table: "BO MON"                                              */
	/*==============================================================*/
	create table "BO MON" (
	   "Ma bo mon"          varchar(10)          not null,
	   "Ma khoa"            varchar(10)          not null,
	   "Ten Bo Mon"         nvarchar(30)         null,
	   constraint "PK_BO MON" primary key nonclustered ("Ma bo mon")
	)
	go
	insert [BO MON]
	values (1, 1, N'Y Đa Khoa');
	insert [BO MON]
	values (2, 1, N'Dược');
	insert [BO MON]
	values (3, 1, N'Điều Dưỡng');
	select *
	from [BO MON]

	/*==============================================================*/
	/* Index: "Quan ly_FK"                                          */
	/*==============================================================*/
	create index "Quan ly_FK" on "BO MON" (
	"Ma khoa" ASC
	)
	go

	/*==============================================================*/
	/* Table: "CHUC VU"                                             */
	/*==============================================================*/
	create table "CHUC VU" (
	   "Ma chuc vu"         varchar(10)          not null,
	   "Ten chuc vu"        nvarchar(30)          null,
	   constraint "PK_CHUC VU" primary key nonclustered ("Ma chuc vu")
	)
	go
	insert [CHUC VU]
	values (1, N'Trưởng Đoàn');
	insert [CHUC VU]
	values (2, N'Phó Đoàn');
	insert [CHUC VU]
	values (3, N'Trưởng Hội');
	delete [CHUC VU]
	select *
	from [CHUC VU]

	/*==============================================================*/
	/* Table: Co                                                    */
	/*==============================================================*/
	create table Co (
	   "Ma sv"              varchar(10)          not null,
	   "Ma chuc vu"         varchar(10)          not null,
	   "Ma to chuc"         varchar(10)          not null,
	   "Thoi gian bd"       datetime             null,
	   "Thoi gian kt"       datetime             null,
	   constraint PK_CO primary key ("Ma sv", "Ma chuc vu", "Ma to chuc")
	)
	go
	insert Co
	values (116021206,1,1,'2023-08-01','2024-08-01');
	insert Co
	values (118721002,2,1,'2023-08-01','2024-08-01');
	insert Co
	values (110421161,7,1,'2023-08-01','2024-08-01');
	

	/*==============================================================*/
	/* Index: Co_FK                                                 */
	/*==============================================================*/
	create index Co_FK on Co (
	"Ma sv" ASC
	)
	go

	/*==============================================================*/
	/* Index: Co2_FK                                                */
	/*==============================================================*/
	create index Co2_FK on Co (
	"Ma chuc vu" ASC
	)
	go

	/*==============================================================*/
	/* Index: Co3_FK                                                */
	/*==============================================================*/
	create index Co3_FK on Co (
	"Ma to chuc" ASC
	)
	go

	/*==============================================================*/
	/* Table: "HINH THUC DIEM DANH"                                 */
	/*==============================================================*/
	create table "HINH THUC DIEM DANH" (
	   "Ma ht"              varchar(10)          not null,
	   "Ten ht"             nvarchar(30)          null,
	   constraint "PK_HINH THUC DIEM DANH" primary key nonclustered ("Ma ht")
	)
	go
	insert [HINH THUC DIEM DANH]
	values (1, N'Ký Tên');
	insert [HINH THUC DIEM DANH]
	values (2, N'Hình Ảnh');
	insert [HINH THUC DIEM DANH]
	values (3, N'Mã QR');
	select*
	from [HINH THUC DIEM DANH]

	/*==============================================================*/
	/* Table: "HOAT DONG"                                           */
	/*==============================================================*/
	create table "HOAT DONG" (
	   "Ma hd"              varchar(10)          not null,
	   "Ten hd"             nvarchar(30)          null,
	   "So luong"           numeric(5)           null,
	   "Quyen loi"          nvarchar(50)          null,
	   "Dia Diem"           nvarchar(50)          null,
	   "Trang phuc"         nvarchar(30)          null,
	   constraint "PK_HOAT DONG" primary key nonclustered ("Ma hd")
	)
	go
	insert [HOAT DONG]
	values (1, N'Quyên Góp', null, N'Cộng 2 điểm rèn luyện', null, N'Tự do');
	insert [HOAT DONG]
	values (2, N'Về Nguồn', null, N'Cộng 3 điểm rèn luyện', N'Đền thờ Bác', N'Áo đòan bỏ áo vào quần');
	insert [HOAT DONG]
	values (3, N'Cổ Vũ Bóng Đá', null, N'Cộng 2 điểm rèn luyện', N'Sân Banh Trường Đại Học', N'Tự do');
	select *
	from [HOAT DONG]

	/*==============================================================*/
	/* Table: KHOA                                                  */
	/*==============================================================*/
	create table KHOA (
	   "Ma khoa"            varchar(10)          not null,
	   "Ten khoa"           nvarchar(30)         null,
	   constraint PK_KHOA primary key nonclustered ("Ma khoa")
	)
	go
	insert KHOA
	values (1, N'Khoa Y Dược');
	insert KHOA
	values (2, N'Khoa Ngọai Ngữ');
	insert KHOA
	values (3, N'Khoa Kỹ thuật và Công nghệ');
	alter table KHOA
	alter column [Ten khoa] nvarchar(30) null;
	select *
	from KHOA

	/*==============================================================*/
	/* Table: LOP                                                   */
	/*==============================================================*/
	create table LOP (
	   "Ma lop"             varchar(10)          not null,
	   "Ma bo mon"          varchar(10)          not null,
	   "Ten lop"            nvarchar(30)         null,
	   constraint PK_LOP primary key nonclustered ("Ma lop")
	)
	go
	insert LOP
	values ('DAYK', 1, N'Y Đa Khoa');
	insert LOP
	values ('DAD', 2, N'Dược');
	insert LOP
	values ('DADD', 3, N'Điều Dưỡng');
	
	update LOP 
	set [Ten lop] =  N'Sư Phạm Tiếng Khmer'
	where [Ma lop] = 'DASPTK';
	
	select *
	from LOP

	/*==============================================================*/
	/* Index: Quan_FK                                               */
	/*==============================================================*/
	create index Quan_FK on LOP (
	"Ma bo mon" ASC
	)
	go

	/*==============================================================*/
	/* Table: "PHIEU DANG KY"                                       */
	/*==============================================================*/
	create table "PHIEU DANG KY" (
	   "Ma phieu"           varchar(10)          not null,
	   constraint "PK_PHIEU DANG KY" primary key nonclustered ("Ma phieu")
	)
	go
	insert [PHIEU DANG KY]
	values ('PDK');

	/*==============================================================*/
	/* Table: "SINH VIEN"                                           */
	/*==============================================================*/
	create table "SINH VIEN" (
	   "Ma sv"              varchar(10)          not null,
	   "Ma lop"             varchar(10)          not null,
	   "Ten sv"             nvarchar(30)         null,
	   "Ngay sinh"          datetime             null,
	   Sdt                  numeric(10)          null,
	   "Phai"               nvarchar(3)          null,
	   constraint "PK_SINH VIEN" primary key nonclustered ("Ma sv")
	)
	go
	insert [SINH VIEN]
	values (116021206,'DAYK', N'Trần Nhật Quang', '2003-11-10', null, 'Nam');
	insert [SINH VIEN]
	values (118721002,'DANNTQ', N'Võ Thị Mộng Cầm', '2003/04/09', null, N'Nữ');
	insert [SINH VIEN]
	values (110421161,'DANNA', N'Trương Gia Mẫn', '2003-06-07', null, 'Nam');
	delete [SINH VIEN]
	alter table [SINH VIEN]
	alter column [Ten sv] nvarchar(30) null;
	alter table [SINH VIEN]
	alter column [Phai] nvarchar(30) null;
	select *
	from [SINH VIEN]

	/*==============================================================*/
	/* Index: Trong_FK                                              */
	/*==============================================================*/
	create index Trong_FK on "SINH VIEN" (
	"Ma lop" ASC
	)
	go

	/*==============================================================*/
	/* Table: "TO CHUC"                                             */
	/*==============================================================*/
	create table "TO CHUC" (
	   "Ma to chuc"         varchar(10)          not null,
	   "Ten to chuc"        nvarchar(30)          null,
	constraint "PK_TO CHUC" primary key nonclustered ("Ma to chuc")
	)
	go
	insert [TO CHUC]
	values (1, N'Đòan Trường');
	insert [TO CHUC]
	values (2, N'Chi Hội Thành Phố');
	insert [TO CHUC]
	values (3, N'Chi Hội Huyện Duyên Hải');
	alter table [TO CHUC]
	alter column [Ten to chuc] nvarchar(30) null;
	update [TO CHUC] 
	set [Ten to chuc] =  N'Clb Hành Trình Sinh Viên'
	where [Ma to chuc] = 5;
	delete [TO CHUC]
	select *
	from [TO CHUC]

	/*==============================================================*/
	/* Table: "Tham gia hoat dong"                                  */
	/*==============================================================*/
	create table "Tham gia hoat dong" (
	   "Ma sv"              varchar(10)          not null,
	   "Ma hd"              varchar(10)          not null,
	   "Ma ht"              varchar(10)          not null,
	   "Ma vai tro"         varchar(10)          not null,
	   "Ngay tham gia hd"   datetime             null,
	   constraint "PK_THAM GIA HOAT DONG" primary key ("Ma sv", "Ma hd", "Ma ht", "Ma vai tro")
	)
	go
	insert [Tham gia hoat dong]
	values (116021206,1,2,9,'2023-08-05');
	insert [Tham gia hoat dong]
	values (115321107,10,1,2,'2023-11-20');
	insert [Tham gia hoat dong]
	values (116222017,8,2,9,'2023-11-25');
	
	/*Nhap them du lieu*/
	
	select*
	from [Tham gia hoat dong]

	/*==============================================================*/
	/* Index: "Tham gia h _FK"                                      */
	/*==============================================================*/
	create index "Tham gia h _FK" on "Tham gia hoat dong" (
	"Ma sv" ASC
	)
	go

	/*==============================================================*/
	/* Index: "Tham gia h 2_FK"                                     */
	/*==============================================================*/
	create index "Tham gia h 2_FK" on "Tham gia hoat dong" (
	"Ma hd" ASC
	)
	go

	/*==============================================================*/
	/* Index: "Tham gia h 3_FK"                                     */
	/*==============================================================*/
	create index "Tham gia h 3_FK" on "Tham gia hoat dong" (
	"Ma ht" ASC
	)
	go

	/*==============================================================*/
	/* Index: "Tham gia h 4_FK"                                     */
	/*==============================================================*/
	create index "Tham gia h 4_FK" on "Tham gia hoat dong" (
	"Ma vai tro" ASC
	)
	go

	/*==============================================================*/
	/* Table: "Thong bao"                                           */
	/*==============================================================*/
	create table "Thong bao" (
	   "Ma to chuc"         varchar(10)          not null,
	   "Ma hd"              varchar(10)          not null,
	   "Ngay thong bao"     datetime             null,
	   constraint "PK_THONG BAO" primary key ("Ma to chuc", "Ma hd")
	)
	go
	insert [Thong bao]
	values (5,1,'2023-08-05');
	insert [Thong bao]
	values (2,2,'2023-09-02');
	insert [Thong bao]
	values (3,3,'2023-11-20');
	

	/*==============================================================*/
	/* Index: "Thong bao_FK"                                        */
	/*==============================================================*/
	create index "Thong bao_FK" on "Thong bao" (
	"Ma to chuc" ASC
	)
	go

	/*==============================================================*/
	/* Index: "Thong bao2_FK"                                       */
	/*==============================================================*/
	create index "Thong bao2_FK" on "Thong bao" (
	"Ma hd" ASC
	)
	go

	/*==============================================================*/
	/* Table: "VAI TRO"                                             */
	/*==============================================================*/
	create table "VAI TRO" (
	   "Ma vai tro"         varchar(10)          not null,
	   "Ten vai tro"        varchar(30)          null,
	   constraint "PK_VAI TRO" primary key nonclustered ("Ma vai tro")
	)
	go
	insert [VAI TRO]
	values (1, N'Hậu Cần');
	insert [VAI TRO]
	values (2, N'Thư Ký');
	insert [VAI TRO]
	values (3, N'Vệ Sinh');
	alter table [VAI TRO]
	alter column [Ten vai tro] nvarchar(30) null;
	delete [VAI TRO]
	select *
	from [VAI TRO]

	/*==============================================================*/
	/* Table: "Vao to chuc"                                         */
	/*==============================================================*/
	create table "Vao to chuc" (
	   "Ma sv"              varchar(10)          not null,
	   "Ma to chuc"         varchar(10)          not null,
	   "Ma phieu"           varchar(10)          not null,
	   "Ngay tham gia tc"   datetime             null,
	   constraint "PK_VAO TO CHUC" primary key ("Ma sv", "Ma to chuc", "Ma phieu")
	)
	go
	insert [Vao to chuc]
	values (110321037,7,'PDK','2023-08-01');
	insert [Vao to chuc]
	values (110421161,1,'PDK','2023-08-01');
	insert [Vao to chuc]
	values (111322132,6,'PDK','2023-08-01'); 
	select*
	from [Vao to chuc]
	

	/*==============================================================*/
	/* Index: "Tham gia tc_FK"                                      */
	/*==============================================================*/
	create index "Tham gia tc_FK" on "Vao to chuc" (
	"Ma sv" ASC
	)
	go

	/*==============================================================*/
	/* Index: "Tham gia tc2_FK"                                     */
	/*==============================================================*/
	create index "Tham gia tc2_FK" on "Vao to chuc" (
	"Ma to chuc" ASC
	)
	go

	/*==============================================================*/
	/* Index: "Tham gia tc3_FK"                                     */
	/*==============================================================*/
	create index "Tham gia tc3_FK" on "Vao to chuc" (
	"Ma phieu" ASC
	)
	go

	alter table "BO MON"
	   add constraint "FK_BO MON_QUAN LY_KHOA" foreign key ("Ma khoa")
		  references KHOA ("Ma khoa")
	go

	alter table Co
	   add constraint "FK_CO_CO_SINH VIE" foreign key ("Ma sv")
		  references "SINH VIEN" ("Ma sv")
	go

	alter table Co
	   add constraint "FK_CO_CO2_CHUC VU" foreign key ("Ma chuc vu")
		  references "CHUC VU" ("Ma chuc vu")
	go

	alter table Co
	   add constraint "FK_CO_CO3_TO CHUC" foreign key ("Ma to chuc")
		  references "TO CHUC" ("Ma to chuc")
	go

	alter table LOP
	   add constraint "FK_LOP_QUAN_BO MON" foreign key ("Ma bo mon")
		  references "BO MON" ("Ma bo mon")
	go

	alter table "SINH VIEN"
	   add constraint "FK_SINH VIE_TRONG_LOP" foreign key ("Ma lop")
		  references LOP ("Ma lop")
	go

	alter table "Tham gia hoat dong"
	   add constraint "FK_THAM GIA_THAM GIA _SINH VIE" foreign key ("Ma sv")
		  references "SINH VIEN" ("Ma sv")
	go

	alter table "Tham gia hoat dong"
	   add constraint "FK_THAM GIA_THAM GIA _HOAT DON" foreign key ("Ma hd")
		  references "HOAT DONG" ("Ma hd")
	go

	alter table "Tham gia hoat dong"
	   add constraint "FK_THAM GIA_THAM GIA _HINH THU" foreign key ("Ma ht")
		  references "HINH THUC DIEM DANH" ("Ma ht")
	go

	alter table "Tham gia hoat dong"
	   add constraint "FK_THAM GIA_THAM GIA _VAI TRO" foreign key ("Ma vai tro")
		  references "VAI TRO" ("Ma vai tro")
	go

	alter table "Thong bao"
	   add constraint "FK_THONG BA_THONG BAO_TO CHUC" foreign key ("Ma to chuc")
		  references "TO CHUC" ("Ma to chuc")
	go

	alter table "Thong bao"
	   add constraint "FK_THONG BA_THONG BAO_HOAT DON" foreign key ("Ma hd")
		  references "HOAT DONG" ("Ma hd")
	go

	alter table "Vao to chuc"
	   add constraint "FK_VAO TO C_THAM GIA _SINH VIE" foreign key ("Ma sv")
		  references "SINH VIEN" ("Ma sv")
	go

	alter table "Vao to chuc"
	   add constraint "FK_VAO TO C_THAM GIA _TO CHUC" foreign key ("Ma to chuc")
		  references "TO CHUC" ("Ma to chuc")
	go

	alter table "Vao to chuc"
	   add constraint "FK_VAO TO C_THAM GIA _PHIEU DA" foreign key ("Ma phieu")
		  references "PHIEU DANG KY" ("Ma phieu")
	go
    select*
    from [BO MON]

    select*
    from Co
    /*Doan trg bi thu pho bi thu */
    select*
    from [CHUC VU]
    
    select*
    from [HINH THUC DIEM DANH]
    
    select*
    from [HOAT DONG]

    select*
    from KHOA

    select*
    from LOP
    
    select *
    from [PHIEU DANG KY]
    
    select *
    from [SINH VIEN]
    
    select *
    from [TO CHUC]
    
    select *
    from [Tham gia hoat dong]
	
	select *
    from [Thong bao]
    
    select *
    from [VAI TRO]
    
    select *
    from [Vao to chuc]
    
    /*Hiển thị danh sách gồm mã số sinh viên ,tên của sinh viên và tên hoạt động tham gia vào ngày 20/11/2023 */
    
    select A.[Ma sv], A.[Ten sv], C.[Ten hd], B.[Ngay tham gia hd]  
    from [SINH VIEN] as A, [Tham gia hoat dong] as B, [HOAT DONG] as C
    where A.[Ma sv] = B.[Ma sv] and B.[Ma hd] = C.[Ma hd] and B.[Ngay tham gia hd]='2023-11-20'
    
    /*Hiển thị danh sách Tổ chức tạo hoạt động về nguồn*/
    
    select A.[Ten to chuc], B.[Ten hd], C.[Ngay thong bao]
    from [TO CHUC] as A, [HOAT DONG] as B, [Thong bao] as C
    where A.[Ma to chuc]=C.[Ma to chuc] and B.[Ma hd]=C.[Ma hd] and C.[Ma hd]=2
	
	/*Hien thi danh sach sinh vien tham gia doan, hoi, clb va chuc vu gi trong to chuc*/
	
	select A.[Ma sv], A.[Ten sv], B.[Ten to chuc], D.[Ten chuc vu], C.[Ngay tham gia tc]
	from [SINH VIEN]as A, [TO CHUC] as B, [Vao to chuc] as C, [CHUC VU] as D, [Vao to chuc] as E
	where A.[Ma sv]=C.[Ma sv] and B.[Ma to chuc]=C.[Ma to chuc] and D.[Ma chuc vu]=E.[Ma to chuc] and B.[Ma to chuc]=E.[Ma to chuc]
	and A.[Ma sv]=E.[Ma sv]
	
	/*Sinh vien co vai tro gi trong hoat dong*/
	
	select A.[Ma sv],A.[Ten sv],B.[Ten vai tro],D.[Ten hd],C.[Ngay tham gia hd]
	from [SINH VIEN] as A, [VAI TRO] as B, [Tham gia hoat dong] as C, [HOAT DONG] as D
	where A.[Ma sv]=C.[Ma sv] and B.[Ma vai tro]=C.[Ma vai tro] and C.[Ma hd]=D.[Ma hd]
	
	/*Hoat dong duoc diem danh theo hinh thuc nao*/
	
	select A.[Ten hd], B.[Ten ht]
	from [HOAT DONG] as A, [HINH THUC DIEM DANH] as B, [Tham gia hoat dong] as C
	where A.[Ma hd]=C.[Ma hd] and B.[Ma ht]=C.[Ma ht]	
	
	/*To chuc thong bao hoat dong*/
	
	select A.[Ten to chuc], B.[Ten hd], C.[Ngay thong bao]
	from [TO CHUC] as A, [HOAT DONG] as B, [Thong bao] as C
	where A.[Ma to chuc]=C.[Ma to chuc] and B.[Ma hd]=C.[Ma hd]
	
	